#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Pokedex{
  background-color: grey;
  border-radius: 20px;
  align-items: center;

}

.pokemonlist{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

}


/* Pokecard styling */
.pokecard{
  background-color: rgb(248, 248, 248);
  width: 170px;
  min-height: 250px;
  border-radius: 20px;
  margin: 5px;

}

.pokecard:hover .pokecard-inner {
  transform: rotateY(180deg);
}

.pokecard-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
} 

.pokecard-front, .pokecard-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokecard-back{
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
  padding-top: 30px;

}


.pokecard-back p{
  font-size: 10px;
  color: black;
}

.pokecard-back h5{
  color: black;
  margin: 2px
}



h2{
  padding-top: 10px;
  width: 100%;
}

h3{
  color: blue;

}

h4 {
  color: black;
}

p{
  color: black;
  font-weight: bold ;
  margin: 5px
}

.pokecard-front img{
  width: 120px
}

.pokecard-front h3{
  margin-top: 10px;
  margin-bottom: 5px;
}

.select{
  width:100%
}

h1 img{
  width: 180px
}

.types img{
  width: 50px;
}